
body {
  background-color: black;
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: black;
  height: 100px;
  padding: 20px;
  position: relative;
  margin-bottom: 1%;
}

.img-portada {
  width: 100%;
  height: 50vh;
  border-radius: 25% 10%;
  mix-blend-mode: exclusion;
  display: flex;
}

.titulo {
  color: #e2e462;
  font-weight: 800;
  font-size: 3em;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 5%;
}

nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav a {
  color: #e2e462;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 20px;
  font-weight: 200;
  transition: font-size 0.3s, font-weight 0.3s;
} 

nav a:hover {
 /* o overline, line-through, etc. */
  font-size: 1.5em; /* o cualquier otro tamaño */
  font-weight: 600; /* o cualquier otro valor de peso */
}

.img-secundaria {
width: 30%;
 
}
.img-secundaria img{
  width: 100%;
  height: auto;
  border-radius: 35% 10%;
  padding: 10% 5%;
  background: #e2e462;

}

.textop {
  width: 50%;
  margin-top: 100px;

}
.texto p{
  font-size: 1.5em;
  font-weight: 400;
  color: #e2e462;
  margin-top: 0;
}
 .textop p {
  font-size: 1.5em;
  font-weight: 400;
  color: #e2e462;
 }
 section.Sobre {
  margin-top: 20px;
}

section {
  padding: 2em;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: 30%;
  margin-bottom: 0%;
}
@media screen and (max-width: 768px) {
  .img-secundaria {
    width: 30%;
  }
}
  @media screen and (max-width: 768px) {
    .instagram {
      width: 30%;
    }
}
div.description {
  max-width: 400px; 
  text-align: center; 
  margin-left: 7%;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #e2e462;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;  
}

.instagram{
  border-radius: 35% 10%;
  padding: 10% 5%;
  width: 500px;
  background: #e2e462;
  margin-left: 5%;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 2em;
  font-style: bold;
  color: #e2e462;
}
.menu{
  position: relative;
  display: inline-block;
  text-align: center;
}
.Menu{
  border-radius: 35% 10%;
  padding: 10% 5%;
  width: 500px;
  background: #e2e462;
  margin-left: 30%;
}
.centro{
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 2em;
  font-style: bold;
  color: #e2e462;
}
footer{
  color: #e2e462;
  text-align: center;
  font-weight: 100;
}
/* Index dos Sesiones */
.header {
  background-size:cover;
  color: #e2e462;
  text-align: center;
  font-weight: 800;
}
.Sobre{

    color: #e2e462;
    text-align: center;
    font-size: x-small;
    font-weight: 100;
    margin-bottom: 10px;
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 20px; 
   
  }
  
.Sobre p{
 margin-top: 0%;
  margin-bottom: 0%;
  width: auto;
  margin-left: 5%;
  margin-right: 5%;
}



.Jam{
  border-radius: 35% 10%;
  padding: 6% 3%;
  background: #6462E4; 
  
}
.Grupos{
  border-radius: 35% 10%;
  padding:  6% 3%;
  background:  #62E464; 

}
.Tributo{
  border-radius: 45% 10%;
  padding: 3% 2%;
  background:  #E462E2; 

}

  
/* Index cuatro Local */
.mapa{
  justify-content: center;
}
/* Index jam */
.imgjam{
  margin-left: 5%;
  margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgjam img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
  background: #6462E4;
  transition: transform 0.3s;
}

.imgjam a:hover img {
  transform: scale(1.2); 
}
/* Index artista */
.imgartista{
margin-left: 5%;
margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgartista img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
  background: #62E464;
  transition: transform 0.3s;
}

.imgartista a:hover img {
  transform: scale(1.2); 
}
/* Index tributo */
.imgtribu{
  margin-left: 5%;
  margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgtribu img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
  background: #e462e25c;
  transition: transform 0.3s;
}

.imgtribu a:hover img {
  transform: scale(1.2); 
}
/* Index talleres */

.imgtalleres{
margin-left: 5%;
margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgtalleres img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
  transition: transform 0.3s;
}

.imgtalleres a:hover img {
  transform: scale(1.2); 
}