
body {
  background-color: black;
  font-family: 'Bricolage Grotesque', sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: black;
  height: 100px;
  padding: 20px;
  position: relative;
}

.img-portada {
  width: 100%;
  height: 50vh;
  border-radius: 25% 10%;
  mix-blend-mode: exclusion;
  display: flex;
}

.titulo {
  color: #e2e462;
  font-weight: 800;
  font-size: 3em;
  text-align: left;
  position: absolute;
  top: 100%;
  left: 5%;
}

nav {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav a {
  color: #e2e462;
  text-decoration: none;
  font-size: 1em;
  padding: 10px 20px;
  font-weight: 200;
}


.img-secundaria {
  width: 50%;
  margin-top: 19em;
  float: right;
  border-radius: 35% 10%;
  flex-shrink: 0;
  text-align: right;
  mix-blend-mode: exclusion;
  position: relative;
  top: 2em;
  padding:2%;
  background: #e2e462;
}


main {
  margin-top: 70px;
  text-align: left;
  color: #e2e462;
  
}

p {
  display: flex;
  float: left;
  margin-top: 30%;
  margin-left: 5%;
  width: 400px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.5em;
  font-weight: 400;
}

section {
  padding: 2em;
}

div.description {
  max-width: 400px; 
  text-align: center; 
  margin-left: 7%;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #e2e462;
}

.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;  
}

.instagram{
  border-radius: 35% 10%;
  padding: 10% 5%;
  width: 500px;
  background: #e2e462;
}
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 2em;
  font-style: bold;
  color: #e2e462;
}

footer{
  color: #e2e462;
  text-align: center;
  font-weight: 100;
}
/* Index dos Sesiones */
.header {
  background-size:cover;
  color: #e2e462;
  text-align: center;
  font-weight: 800;
}
.Sobre{
  color: #e2e462;
  text-align: center;
font-size: x-small;
text-align: center;
font-weight: 100;
}
.Jam{
  border-radius: 35% 10%;
  padding: 10% 5%;
  width: 400px;
  background: #6462E4; 
  justify-content: center;
}
.Grupos{
  border-radius: 35% 10%;
  padding: 10% 5%;
  width: 500px;
  background:  #62E464; 
  justify-content: center;
}
.Tributo{
  border-radius: 35% 10%;
  padding: 10% 5%;
  width: 500px;
  background:  #E462E2; 
  justify-content: center;
}

/* Index cuatro Local */
.mapa{
  justify-content: center;
}
/* Index jam */
.imgjam{
  margin-left: 5%;
  margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgjam img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
  background: #6462E4;
}
/* Index artista */
.imgartista{
margin-left: 5%;
margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgartista img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
  background: #62E464;
}
/* Index tributo */
.imgtribu{
  margin-left: 5%;
  margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgtribu img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
  background: #e462e25c;
}
/* Index talleres */

.imgtalleres{
margin-left: 5%;
margin-right: 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
}
.imgtalleres img{
  width: 95%;
  height: auto;
  border-radius: 10%;
  padding: 1%;
}